/* stylesheet */
@font-face {
  font-family: 'jgs5';
  src: url('./jgs5.ttf');
}
@font-face {
  font-family: 'jgs9';
  src: url('./jgs9.ttf');
}
@font-face {
  font-family: 'ubuntu';
  src: url('./UbuntuMono-R.ttf');
}
@font-face {
  font-family: 'topaz';
  src: url('./TopazPlus_a1200_v1.0.ttf');
}
body{
  background-color: #000;
}
* {
  margin: 0;
  padding: 0;
}
pre {
  display: inline-block;
}
